PORT=3000

TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_ACCESS_TOKEN=your_tmdb_read_access_token_here

MOTN_BASE_URL=https://api.movieofthenight.com/v4
MOTN_API_KEY=your_movieofthenight_api_key_here